@font-face {
  font-family: Sahel;
  src: url('../fonts/sahel/Sahel.eot');
  src: url('../fonts/sahel/Sahel.eot?#iefix') format('embedded-opentype'),
    url('../fonts/sahel/Sahel.woff') format('woff'),
    url('../fonts/sahel/Sahel.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Sahel;
  src: url('../fonts/sahel/Sahel-Bold.eot');
  src: url('../fonts/sahel/Sahel-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/sahel/Sahel-Bold.woff') format('woff'),
    url('../fonts/sahel/Sahel-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: Sahel;
  src: url('../fonts/sahel/Sahel-Black.eot');
  src: url('../fonts/sahel/Sahel-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/sahel/Sahel-Black.woff') format('woff'),
    url('../fonts/sahel/Sahel-Black.ttf') format('truetype');
  font-weight: 900;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
  
}

@media only screen and (max-width: 735px) {
  .docs-next {
    clear: inherit;
  }
  .arrow-prev {
    float: none;
    margin-right: 0;
  }
  .arrow-next {
    float: none;
    margin-right: 0;
  }
}

@media only screen and (min-width: 1024px) {
  .toc {
    padding: 40px 8px;
  }
  .onPageNav > .toc-headings {
    border-right: 1px solid #e0e0e0;
    border-left: none;
    padding: 10px 15px 2px 2px;
  }
  .docMainWrapper > *:first-child {
    margin-left: 20px;
    margin-right: 0;
  }
}

@media only screen and (max-width: 1023px) {
  .navigationSlider .slidingNav ul li a {
    color: #101010;
  }
  .hide-xs {
    display: none;
  }
  .navigationSlider .slidingNav ul li a:focus, .navigationSlider .slidingNav ul li a:hover, .navigationSlider .slidingNav ul li.siteNavItemActive a, .navigationSlider .slidingNav ul li.siteNavGroupActive a {
    color: white;
  }
}

@media only screen and (min-width: 1400px) {}

@media only screen and (min-width: 1500px) {}


body {
  font-family: Sahel, Tahoma, Helvetica, sans-serif;
}

.mainContainer .wrapper {
  text-align: right;
  direction: rtl;
}

pre,
code {
  direction: ltr;
  text-align: left;
}

header .edit-page-link {
  float: left;
}

.hash-link {
  margin-left: 0;
  padding-left: 4px;
  padding-right: 0;
  margin-right: -20px;
}

.docMainWrapper {
  direction: rtl;
}

.collapsible .arrow {
  float: left;
  transform: rotate(-90deg);
}

.collapsible .arrow.rotate {
  transform: rotate(-180deg);
}

.docs-next {
  float: left;
}

.docs-prev {
  float: right;
}

span.arrow-prev {
  display: inline-block;
  transform: rotateZ(180deg);
  padding-right: 5px;
  position: relative;
  top: 2px;
}

span.arrow-next {
  display: inline-block;
  transform: rotateZ(180deg);
  padding-left: 5px;
  position: relative;
  top: 2px;
}

blockquote {
  border-left: none;
  border-right: 8px solid #ffe564;
}

.fixedHeaderContainer header .headerTitleWithLogo {
  display: none;
}

a {
  color: #ffa700;
  text-decoration: none;
}

a:hover {
  color: #ff8d00;
}

table {
  display: inline-table;
}

.projectTitle {
  line-height: 1.5em;
}

.projectTitle small {
  font-size: 18px;
}

.pluginRowBlock a {
  font-weight: bold;
  font-size: 17px;
}

.homeSplashFade {
  background: #F7971E;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  direction: rtl;
}

.booklet-flex-box {
  height: 200px;
  margin-bottom: 25px;
}

.booklet-image-link {
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}

.homeSplashFade {
  padding: 30px 0;
}

#booklets {
  padding-top: 75px;
}

.nav-footer .sitemap a {
  margin: 0;
}

.goal-section {
  background: #20232A;
  color: white;
  margin-top: -48px;
}

.goal-section h1 {
  font-size: 10vh;
  margin-top: .5em;
}

.goal-section p {
  line-height: 2;
  font-size: 21px;
  text-align: justify;
}

.goal-section img {
  margin-top: -10px;
  transform: rotate(-2deg);
}

.booklet-image {
  text-align: left;
  padding-top: 28px;
}