/* your custom css */

@font-face {
  font-family: Sahel;
  src: url('../fonts/sahel/Sahel.eot');
  src: url('../fonts/sahel/Sahel.eot?#iefix') format('embedded-opentype'),
    url('../fonts/sahel/Sahel.woff') format('woff'),
    url('../fonts/sahel/Sahel.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Sahel;
  src: url('../fonts/sahel/Sahel-Bold.eot');
  src: url('../fonts/sahel/Sahel-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/sahel/Sahel-Bold.woff') format('woff'),
    url('../fonts/sahel/Sahel-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: Sahel;
  src: url('../fonts/sahel/Sahel-Black.eot');
  src: url('../fonts/sahel/Sahel-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/sahel/Sahel-Black.woff') format('woff'),
    url('../fonts/sahel/Sahel-Black.ttf') format('truetype');
  font-weight: 900;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
  
}

@media only screen and (max-width: 735px) {
  .docs-next {
    clear: inherit;
  }
  .arrow-prev {
    float: none;
    margin-right: 0;
  }
  .arrow-next {
    float: none;
    margin-right: 0;
  }
}

@media only screen and (min-width: 1024px) {
  .toc {
    padding: 40px 8px;
  }
  .onPageNav > .toc-headings {
    border-right: 1px solid #e0e0e0;
    border-left: none;
    padding: 10px 15px 2px 2px;
  }
  .docMainWrapper > *:first-child {
    margin-left: 20px;
    margin-right: 0;
  }
}

@media only screen and (max-width: 1023px) {}

@media only screen and (min-width: 1400px) {}

@media only screen and (min-width: 1500px) {}


body {
  font-family: Sahel, Tahoma, Helvetica, sans-serif;
}

.mainContainer .wrapper {
  text-align: right;
  direction: rtl;
}

pre,
code {
  direction: ltr;
  text-align: left;
}

header .edit-page-link {
  float: left;
}

.hash-link {
  margin-left: 0;
  padding-left: 4px;
  padding-right: 0;
  margin-right: -20px;
}

.docMainWrapper {
  direction: rtl;
}

.collapsible .arrow {
  float: left;
  transform: rotate(-90deg);
}

.collapsible .arrow.rotate {
  transform: rotate(-180deg);
}

.docs-next {
  float: left;
}

.docs-prev {
  float: right;
}

span.arrow-prev {
  display: inline-block;
  transform: rotateZ(180deg);
  padding-right: 5px;
  position: relative;
  top: 2px;
}

span.arrow-next {
  display: inline-block;
  transform: rotateZ(180deg);
  padding-left: 5px;
  position: relative;
  top: 2px;
}

blockquote {
  border-left: none;
  border-right: 8px solid #ffe564;
}

.fixedHeaderContainer header .headerTitleWithLogo {
  display: none;
}

a, a:hover {
  color: #ffa700;
  text-decoration: none;
}

table {
  display: inline-table;
}